<html>
    <body>
        <div class="header" th:fragment="headernavfragment">
            <link rel="stylesheet" href="/main.css" />
            <script src="/main.js" defer></script>
            <div class="Logo">
                <a href="/">
                    <img src="/logo.png" height="45px">
                </a>
            </div>
            <div class="header-links">
                <!-- <a th:href="${authentication.getPrincipal().getName()}"> -->
                <div sec:authorize="isAuthenticated()">
                    <!-- is logged in -->
                    <p><a href="/posts/">Posts</a></p>
                    <p><a href="/users/">Users</a></p>
                    <p><a href="/users/me">Profile</a></p>
                    <img id="my-photo" src="about:blank" height="30px" class="nav-img">
                    <p><a href="/logout">Logout</a></p>
                </div>
            </div>
        </div>
    </body>
</html>
