<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User-Hosted Events</title>
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>
<body>
<div th:replace="fragments/nav :: navbar"></div>

<h1>Welcome, <span th:text="${name}">User</span>!</h1>

<ul>
    <li th:each="event : ${events}">
        <div><strong>Title:</strong> <span th:text="${event.title}"></span></div>
        <div><strong>Description:</strong> <span th:text="${event.description}"></span></div>
        <div><strong>Date:</strong> <span th:text="${#dates.format(event.scheduledDate, 'yyyy-MM-dd')}"></span></div>
        <div><strong>Time:</strong> <span th:text="${event.scheduledStartTime}"></span></div>
    </li>
</ul>
<!-- Footer -->
<!--<div th:replace="fragments/footer :: footer"></div>-->

<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->

</body>
</html>