<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>Acebook</title>
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>

    <nav th:insert="fragments.html :: nav"></nav>

    <h1>Friends</h1>
    <ul th:each="friend : ${friends}">
        <li class="profile-pic" >
            <img th:src="${friend.profilePicture}" onerror="this.style.display = 'none';" style="width:50px;height:50px;border-radius:50%;">
            <a th:href="@{/users/{id}(id=${friend.username})}" th:text="${friend.username}"></a>
            <div th:switch="${friend.friend_status}">
                <form th:case="'Friend'" th:action="@{/friends/delete}" method="post">
                    <input type="hidden" name="recipient_username" th:value="${friend.username}">
                    <input type="hidden" name="returnURL" th:value="${#httpServletRequest.requestURI}">
                    <button type="submit">Remove Friend</button>
                </form>
                <form th:case="'Sent'" th:action="@{/friends/delete}" method="post">
                    <input type="hidden" name="recipient_username" th:value="${friend.username}">
                    <input type="hidden" name="returnURL" th:value="${#httpServletRequest.requestURI}">
                    <button type="submit">Cancel Friend Request</button>
                </form>
                <div th:case="'Received'">
                    <form th:action="@{/friends/confirm}" method="post">
                        <input type="hidden" name="recipient_username" th:value="${friend.username}">
                        <input type="hidden" name="returnURL" th:value="${#httpServletRequest.requestURI}">
                        <button type="submit">Confirm Friend Request</button>
                    </form>
                    <form th:action="@{/friends/delete}" method="post">
                        <input type="hidden" name="recipient_username" th:value="${friend.username}">
                        <input type="hidden" name="returnURL" th:value="${#httpServletRequest.requestURI}">
                        <button type="submit">Deny Friend Request</button>
                    </form>
                </div>

                <form th:case="'None'" th:action="@{/friends/add}" method="post">
                    <input type="hidden" name="recipient_username" th:value="${friend.username}">
                    <input type="hidden" name="returnURL" th:value="${#httpServletRequest.requestURI}">
                    <button type="submit">Add Friend</button>
                </form>
                <p th:case="*">
                    You cannot be friends with this user
                </p>
            </div>
        </li>
    </ul>

    </body>
</html>
