<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    <head lang="en">
        <meta charset="UTF-8"/>
        <span th:if="${id == user.id}">
            <title>My Profile - Winklevoss</title>
        </span>
        <span th:if="${id != user.id}">
            <title th:text="${user.username} + '\'s Profile - Winklevoss'"></title>
        </span>
        <link rel="stylesheet" href="/main.css" />
        <script type="text/javascript" src="/script.js"></script>
    </head>
    <body>

        <nav> <!-- Taskbar -->
            <div class="logowrapper">
                <a href="/"><img style="height: 90px; margin-top: -22px; margin-right: 50px; overflow-y: hidden;" th:src="@{/orangeandbrown.png}" alt="placeholder"></a>
            </div>
            <!-- Text Links -->
            <a href="/posts"><p>Posts</p></a>
            <!-- Only blanks out Profile link when on own Profile -->
            <span th:if="${id == user.id}">
                <a><p>Profile</p></a>
            </span>
            <!-- Doesn't blank out Profile link when on another's Profile -->
            <span th:if="${id != user.id}">
                <a th:href="'/profile/' + ${friendsservice.findById(id).username}"><p>Profile</p></a>
            </span>
            <a th:href="'/wall/' + ${id}"><p>My Wall</p></a>
            <a href="/friends"><p>Friends</p></a>
            <a href="/messages"><p>Messages</p></a>
            <!-- Search bar -->
            <div title="Search users">
                <div class="searchbar">
                    <input class="searchbar" type="text" placeholder="Search..." id="myInput" onfocus="getSearchDropdown()" onblur="getSearchDropdown()">
                </div>
                <div id="searchDropdown" class="dropdown-content">
                    <div th:each="user: ${allusers}" class="dropdown-item">
                        <span class="search">
                            <div class="searchwrapper">
                                <a class="searchitem" th:href="'/profile/' + ${user.username}"></a>
                                <div class="searchavatar">
                                    <img class="searchavatar" th:src="@{/default-avatar.jpeg}">
                                    <p style="margin-left: 11px; margin-top: 18.5px;" th:text="${user.username}" class="search"></p></a>
                                </div>
                                <div class="searchtext">
                                    <a th:href="'/profile/' + ${user.username}">
                                    <p class="searchtext" th:if="${friendsservice.getRequestStatus(id, user.id) == 'accepted'}">Status: Friends</p>
                                    <p class="searchtext" th:if="${friendsservice.getRequestStatus(id, user.id) == 'pending'}">Status: Pending</p>
                                    <p class="search">View Profile</p>
                                    </a>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
            <!-- Notification bell -->
            <div style="min-width: 100px;" class ="notifications">
                <img style="height: 44px;" th:src="@{/notificationsbell.png}"/>
            </div>
            <a th:href="'/profile/' + ${friendsservice.findById(id).username}"><img style="height: 39px; margin-top: 5px;"; th:src="@{/default-avatar.jpeg}"></a>
            <!-- (Delete with MVP!!!) Debug user ID display -->
            <div class="logout">
                <!-- // Show user ID and username for debugging (has to go above logout button or it will cover it) -->
                <p style="margin-top: 60px; background-color: rgb(222, 124, 4);" th:text="'User ID: ' + ${id}"></p>
            </div>
            <!-- Logout button -->
            <div class="logout">
                <form action="/logout" method="get" onsubmit="return confirm('Are you sure?');">
                    <p><input type="submit" id="Logout" value="Logout"/></p>
                </form>
            </div>
        </nav>

        <div class="container">
            <div class="title">
                <h1>Profile</h1>
            </div>

            <div sec:authorize="isAuthenticated()">
                <!-- This does nothing currently but to encase things for editing own profile -->
            </div>

            <h2 th:text="${user.username}"></h2>

            <img src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-social-media-user-vector-image-icon-default-avatar-profile-icon-social-media-user-vector-image-209162840.jpg" alt="placeholder" width="100" height="100">

            <!-- For current user's profile -->
            <span th:if="${id == user.id}">
                <form action="" method="post">
                    <input type="file" name="img">
                    <input type="submit" name="save" value="Save">
                </form>
                <p>Change profile picture</p>
            </span>

            <!-- For another user's profile -->
            <span th:unless="${id == user.id}">
                <span th:if="${friendsservice.getRequestStatus(id, user.id) == null and friendsservice.getRequestStatus(user.id, id) == null}">
                    <p th:text="'Send ' + ${user.username} + ' a Friend request?'"></p>
                    <form action="#" th:action="@{'/profile/' + ${user.username} + '/request'}" method="POST" onsubmit="return confirm('Are you sure?');">
                        <input type="hidden" name="requesterId" th:value="${id}">
                        <input type="hidden" name="requesteeId" th:value="${user.id}">
                        <input type="hidden" name="response" value="request">
                        <button class="with-margin" type="submit">Request</button>
                    </form>
                </span>

                <span th:if="${friendsservice.getRequestStatus(id, user.id) == 'accepted' or friendsservice.getRequestStatus(user.id, id) == 'accepted'}">
                    <p th:text="'You are friends with ' + ${user.username}"></p>
                    <form action="#" th:action="@{'/profile/' + ${user.username} + '/request'}" method="POST" onsubmit="return confirm('Are you sure?');">
                        <input type="hidden" name="requesterId" th:value="${id}">
                        <input type="hidden" name="requesteeId" th:value="${user.id}">
                        <input type="hidden" name="response" value="unfriend">
                        <button class="with-margin" type="submit">Unfriend</button>
                    </form>
                    <form action="#" th:action="@{'/profile/' + ${user.username} + '/request'}" method="POST" onsubmit="return confirm('Are you sure?');">
                        <input type="hidden" name="requesterId" th:value="${id}">
                        <input type="hidden" name="requesteeId" th:value="${user.id}">
                        <input type="hidden" name="response" value="block">
                        <button class="with-margin" type="submit">Block</button>
                    </form>
                </span>

                <span th:if="${friendsservice.getRequestStatus(id, user.id) == 'pending'}">
                    <p th:text="'You are waiting for ' + ${user.username} + '\'s friend confirmation'"></p>
                    <form action="#" th:action="@{'/profile/' + ${user.username} + '/request'}" method="POST" onsubmit="return confirm('Are you sure?');">
                        <input type="hidden" name="requesterId" th:value="${id}">
                        <input type="hidden" name="requesteeId" th:value="${user.id}">
                        <input type="hidden" name="response" value="cancel">
                        <button class="with-margin" type="submit">Cancel</button>
                    </form>
                </span>

                <span th:if="${friendsservice.getRequestStatus(user.id, id) == 'pending'}">
                    <p th:text="'You have a friend request from ' + ${user.username}"></p>
                    <form action="#" th:action="@{'/profile/' + ${user.username} + '/request'}" method="POST" onsubmit="return confirm('Are you sure?');">
                        <input type="hidden" name="requesterId" th:value="${id}">
                        <input type="hidden" name="requesteeId" th:value="${user.id}">
                        <input type="hidden" name="response" value="accept">
                        <button class="with-margin" type="submit">Accept</button>
                    </form>
                    <form action="#" th:action="@{'/profile/' + ${user.username} + '/request'}" method="POST" onsubmit="return confirm('Are you sure?');">
                        <input type="hidden" name="requesterId" th:value="${id}">
                        <input type="hidden" name="requesteeId" th:value="${user.id}">
                        <input type="hidden" name="response" value="reject">
                        <button class="with-margin" type="submit">Reject</button>
                    </form>
                </span>
            </span>

            <!-- Details section -->
            <h2>About me:</h2>
            <ul>
            <li class="profile">Name:</li>
            <li class="profile">Education:</li>
            <li class="profile">Occupation:</li>
            <li class="profile">Location:</li>
            </ul>
        </div> <!-- End of container -->
    </body>
</html>