h1 {
    font-family: Tahoma, sans-serif;
    font-size: 450%;
    font-weight: bold;
    color: #6B5B95;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0px;
    /* float:right; */
}

h2 {
    font-family: 'Brush Script MT';
    font-size: 160%;
    color: grey;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}

body {
    font-family: Helvetica;
    font-size: 12px;
    text-align: center;
    background-color: #F0F0F0;
}

.greeting {
    font-size: 16px;
    color: #FFFFFF;
    vertical-align: middle;
    padding: 0px 3px 0px 0px;
    text-transform: capitalize;
}

.button {
    background-color: #6B5B95;
    border: none; 
    color: white;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 10px;
    margin-top: 15px;
}

.photo_post_upload {
    background-color: #6B5B95;
    /* display: inline; */
    border: none; 
    color: white;
    padding: 12px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 10px;
    margin-top: 15px;
}

.logged_in_user_profile_photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.logged_in_user {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    vertical-align: middle;
    padding: 0px 10px 0px 0px;
    text-transform: capitalize;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.text-box {
    background-color: #F0F0F0;
    color: #808080;
    border: none; 
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 10px;
    width: 50%; 
    margin-right: 15px;
    margin-bottom: 15px;

}

.credentials{
    background-color: #F0F0F0;
    color: #808080;
    border: none; 
    padding: 12px 16px;
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    border-radius: 8px;
    width: 150px; 
    margin-right: 15px;
}

.post {
    font-size: 14px;
    border: 1px; 
    border-style: solid; 
    border-color: #D8D8D8; 
    background-color: white;
    padding-bottom:20px;
    padding:20px;
    width: 50%; 
    height: auto;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    align-content: center;
    border-radius: 10px;
}

.post_username {
    font-weight: bold;
    text-align: center;
    color:#FBF8FF;
    background-color:#E97690;
    background-clip: border-box;
    font-size: 14px;
    margin:0;
    border-radius:8px 0px 8px 0px;
    padding: 10px;
    width: 20%;
    height: 20%;
    overflow: hidden;
    
}

.post_user_profile_photo {
    width: 30%;
    /* height: 20px; */
    border-radius: 50%;
    float: left;
    object-fit: contain;
    border: #6B5B95;

}

.photo_post {
    width: 40%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    object-fit: contain;

}

.post_created_at {
    text-align: center;
    font-size: 10px;
}

.comment-button {
    background-color: #6B5B95;
    border: none; 
    color: white;
    padding: 1.5%; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 10px;
    margin: 0px 10px 0px 10px;
}

.comment-input {
    background-color: #F0F0F0;
    color: #808080;
    border: none; 
    border-color: #D8D8D8; 
    border: none; 
    padding: 10px 12px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 10px;
    width: 40%; 
}

.comment-post {
    background-color: #F0F0F0;
    border: none; 
    text-align: center; 
    display: inline-block;
    padding: 10px 5px 0px 5px; ; 
    font-size: 12px;
    border-radius: 10px;
    width: 50%; 
    margin: 4px;
}

hr.new1 {
    border: 1px solid #A9A9A9;
  }

.username {
    font-size: 12px;
    font-weight: bold;
}

.profile-photo {
    align-self: center;
    object-fit: contain;
}

.photo-post-upload {
    object-fit: contain;
}

.profile-text {
    font-size: 18px;
    border: 1px; 
    border-style: solid; 
    border-color: #D8D8D8; 
    background-color: white;
    padding:25px;
    width: 50%; 
    height: auto;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    align-content: center;
    border-radius: 10px;
}


/* colour alternatives
blue - #002db3
orange - #ff8c66
purple -  #8c66ff
Raspberry Sorbet #D2386C
Rust #B55A30 
Amethyst Orchid #926AA6
Mint #00A170 
Ultra Violet #6B5B95
Classic Blue #34568B
*/