.posts-main {
    border-collapse: collapse;
}

.post-main {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    margin-bottom: 0.5rem;;
}

ul {
    list-style-type:none;
}

.post-content {
    padding:10px;
    border:1px solid #999;
    display:flex;
    gap:20px;
}

.post-time {
    margin-left:auto;
}

.one-full-post {
    padding:10px;
    border:1px solid #999;
}