nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    height: 45px;
    width: 100%;
    margin-top: -8px;
    margin-left: -8px;
    /* Padding-inline indents elements from the left */
    padding-top: -10px;
    padding-inline: 50px;
    /* gap determines spacing between elements on nav bar with flex */
    gap: 15px;
    /* z-index determines stacking order of elements on a page, increasing the number brings to the front */
    z-index: 0;
    background-color: rgb(222, 124, 4);
    border: 3px solid rgb(159, 89, 2);
}

body {
    padding-top: 25px;
    background-color: rgb(70, 68, 64);
}

/* Wrapper for top-left logo (so it doesn't stick out) */
.logowrapper {
    overflow: hidden;
}

/* Razvan's (temporarily commented out!) */
/* .container { */
    /* max-width: 1140px; */
    /* margin: auto; */
/* } */

.container {
    overflow: hidden;
    height: 100%;
    margin-left: -8px;
    margin-right: -8px;
    border: 5px solid rgb(159, 89, 2);
    background-color: rgb(251, 211, 136);
}

/* Logo sizing */
img.logo {
    height: 90px;
    margin-top: -22px;
    margin-right: 50px;
}

ul {
    list-style-type: none;
    margin-left: 0;
	padding-left: 0;
    margin: auto;
}

p {
    white-space: nowrap;
}

/* Resize search bar placeholder text */
p.search {
    font-size: 14px;
}

/* Gets rid of underline for hyperlinks */
a:link {
    text-decoration: none;
}

/* Spaces buttons correctly on Friends page */
button.with-margin {
    margin-top: 5px;
}

.universal_button {
    background: #0066A2;
    color: white;
    border-radius: 5px;
    border-style: outset;
    border-color: #0066A2;
    height: 25px;
    width: 90px;
    font: bold15px arial,sans-serif;
    text-shadow: none;
}

.universal_button:hover {
    cursor: pointer;
    background: #027dc4;
}

.fa-thumbs-up {
    color: #027dc4d1;
}

#comment_message {
    display: inline;
}

.title {
    text-align: center;
}

.posts-main {
    border-collapse: collapse;
}

.post-main {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 0.5rem;;
    margin: auto;
}

.myPosts {
    max-width: 526px;
    padding: 10px;
    margin: 10px auto;
    background-color: #d7851f;
    border: 1px solid rgb(159, 89, 2);
}

#post_content_form {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.circle {
    border-radius: 50%;
}

.post_heading {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post_content {
    padding: 0 20px 0 20px;
    margin: 10px 0 10px 0;
}

#post_time {
    margin-left: auto;
}

#number_of_likes {
    display: inline;
}

.post_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post_footer>*:first-child {
    margin: 5px 0 0 0;
}

.hidden_form {
    display: none;
}

.hidden_form>*:first-child {
    width: 100%;
    margin-right: 20px;
}

.hidden_form>*:last-child {
    align-self: end;
    margin-left: auto;
}

.display_flex {
    display: flex !important;
    margin-top: 5px;
    width: 100%;
}

#comment_content {
    width: 100%;
    margin-right: 25px;
}

.like_and_comment_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#button_comment {
    margin-left: auto;
}

.profile {
    /*width: 320px;*/
    padding: 10px;
    background-color: rgb(215, 133, 31);
    border-bottom: 20px solid rgba(159, 88, 2);
}

/* Applied to logout button and debug user ID display (currently fixed) */
.logout {
    position:fixed;
    right:10px;
    top:5;
}

/* Container for icons on Friends page */
.icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
    row-gap: 10px;
    border:1px solid rgb(202, 202, 202);
    padding: 10px;
    background-color: rgb(246, 172, 82);
}

/* Icon properties for Friends page */
.icon {
    flex: 1 0 21%;
    border:1px solid rgb(202, 202, 202);
    background-color: rgb(251, 211, 136);
    padding: 7px;
    min-height: 177px;
    min-width: 175px;
}

/* In-page tab styling for Friends page */
.tab {
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-left: -5px;
    margin-right: -5px;
    border: 2px solid rgb(159, 89, 2);
    background-color: rgb(222, 124, 4);
}
  
/* Tab buttons styling on Friends page*/
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
  
.tab button:hover {
    background-color: #ddd;
}
  
/* Properties for active tab on Friends page */
.tab button.active {
    background-color: #ccc;
}
  
/* Closed tabs on Friends page */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Tooltip styling */
.tooltip span {
    display:none;
}

.tooltip:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
}

/* Below is for dropdown menus */
#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 10px;
    border: 2px solid rgb(159, 89, 2);
    border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 1px solid rgb(159, 89, 2);}

.dropdown-content {
    overflow: auto;
    display: none;
    background-color: #f6f6f6;
    /* padding-top: -10px; */
    margin-left: 32px;
    max-width: 227px;
    border: 1px solid #ddd;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {display: block;}

.dropdown-item {
    margin: 3px;
}

span.search {
    display: block;
}

span.search:hover {
    background-color: #ddd;
}

.searchbar {
    min-width: 268px;
    max-width: 268px;
    overflow: hidden;
}

input.searchbar {
    margin-left: 32px;
    margin-top: 18px;
    width: 230px;
}

.searchitem {
    display: flex; flex-direction: row; gap: 0px;
}

.searchwrapper {
    display: flex; flex-direction: row; gap: 0px;
}

/* Notifications bell/bar */
.notifications {
    text-align: right;
}