nav {
    display: flex;
    /* gap determines spacing between elements on nav bar */
    gap: 10px;
    /* No top margin was giving a big space */
    margin-top: -20px;
    /* Padding-inline indents elements from the left */
    padding-inline: 50px;
    /* Color set to dark orange */
    background-color: rgba(222, 124, 4, 0.787);
    padding-top: -10px;
    height: 45px;

}

button.with-margin {
    margin-top: 5px;
}

.title {
    text-align: center;
}

body {
    background-color: rgb(251, 211, 136);
}

.posts-main {
    border-collapse: collapse;
}

.post-main {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 0.5rem;;
    margin: auto;
}


.myPosts {
    width: 320px;
    padding: 10px;
    background-color: rgb(215, 133, 31);
    border: 5px solid rgb(159, 89, 2);
    /* border-radius: 25px; */
    margin: auto;
}

.profile {
    /*width: 320px;*/
    padding: 10px;
    background-color: rgb(215, 133, 31);
    border-bottom: 20px solid rgba(159, 88, 2);
}

.logout {
    position:fixed;
    right:10px;
    top:5px;
}

ul {
    list-style-type: none;
    margin-left: 0;
	padding-left: 0;
    margin: auto;
}

a:link {
    /* gets rid of underline for hyperlinks */
    text-decoration: none;
}

.icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
    row-gap: 10px;
    border:1px solid rgb(202, 202, 202);
    padding: 10px;
    background-color: rgba(246, 173, 82, 0.787);
}

.icon {
    flex: 1 0 21%;
    border:1px solid rgb(202, 202, 202);
    background-color: rgb(251, 211, 136);
    padding: 7px;
    min-height: 177px;
    min-width: 175px;
}

/* In-page tab styling */
.tab {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: rgba(222, 124, 4, 0.787);
}
  
/* Tab buttons styling */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
  
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
  
/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
  
/* Style the tab content */
.tabcontent {
    display: none;
    animation: fadeEffect 0.025s;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }