.posts-main {
    border-collapse: collapse;
}

.post-main {
    border: 1px solid #999;
    /* padding: 0.5rem; */
    text-align: left;
    /* margin-bottom: 0.5rem;; */
}

.sign-up-form {
  margin-top: 0.8rem;
}

h2 {
  color: #434347;
  padding: 2rem 0 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  border: 1px solid rgba(24,28,33,0.06);
  width: 25%;
}

/* Bootstrap Posts Section */

body {
  background:#eee;
}
.posts-content{
  margin-top:20px;
}
.ui-w-40 {
  width: 40px !important;
  height: auto;
}
.default-style .ui-bordered {
  border: 1px solid rgba(24,28,33,0.06);
}
.ui-bg-cover {
  background-color: transparent;
  background-position: center center;
  background-size: cover;
}
.ui-rect {
  padding-top: 50% !important;
}
.ui-rect, .ui-rect-30, .ui-rect-60, .ui-rect-67, .ui-rect-75 {
  position: relative !important;
  display: block !important;
  padding-top: 100% !important;
  width: 100% !important;
}
.bg-dark {
  background-color: rgba(24,28,33,0.9) !important;
}
.card-footer, .card hr {
  border-color: rgba(24,28,33,0.06);
}
.ui-rect-content {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
}
.default-style .ui-bordered {
  border: 1px solid rgba(24,28,33,0.06);
}


/* Posts */

.post-form-labels {
  font-weight: bold;
}

.photo {
  width: 75%;
  padding-bottom: 1rem;
}

ul {
  list-style-type: none;
}

.username {
  display: inline-block;
  margin-top: 0.5rem;
  width: 87%;
}

.d-block {
  float: left;
  margin: 0 1.5%;
  width: 60%;
}

  .post-body {
    text-align: center;
  }

  .post-text {
    margin: 5%;
  }
  
  .post-timestamp {
    margin: 5%;
  }


  /* Navbar */

  .logout_form {
    display: flex;
    justify-content: flex-end;
}

  .log-in-link {
    text-decoration: none !important;
    color: rgba(255,255,255,.55) !important;
  }

  .log-in-link:hover {
    text-decoration: none !important;
    color: rgb(255,255,255) !important;
  }

  .navbar-logout {
    color: rgba(255,255,255,.55) !important;
  }

  .navbar-logout:hover {
    color: rgb(255,255,255) !important;
  }

  /* Comments */

  .comments {
    text-align: left;
  }
  .username-comment, .username-poster, .comment-heading {
    font-weight: bold;
  }

  .comment-body {
    color: #434347;
  }