* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    font-family:Arial, Helvetica, sans-serif;
}

.posts-main {
    border-collapse: collapse;
}

.post-main {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    margin-bottom: 0.5rem;
}

.header {
    background-color: rgb(220, 240, 248);
    padding:15px 0px;
    padding-inline:5%;
    /* border-bottom: 1px solid rgba(0,0,0,0.1); */
    display:flex;
    justify-content: space-between;
    margin-bottom:2%;
    box-shadow:  0 0 10px rgba(0,0,0,0.2);

}
.header .header-links p,.header .header-links img{
    display:inline-block;
    vertical-align: middle;
    margin:0px 5px;
}

.Logo {
    display:flex;
    justify-content:center;
    align-items:center;
}
.header-center-content {
    display:flex;
    justify-content:center;
    align-items:center;
}

.header-links {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:1rem;
}

a, a:hover, a:focus, a:active {
    text-decoration:none;
    color: inherit;
    padding:10px;
}

a:hover {
    color:grey;
}

.flex-center {
    display:flex;
    justify-content:center;
    align-items:center;
}

.body-wrapper {
    margin-inline:15%;
    display:flex;
    flex-direction:column;
    gap:2vh;
}

.main-input {
    width:100%;
    padding:10px;
    border-radius:20px;
    box-sizing:border-box;
    border: 1px solid black;
}

.submit-btn {
    display:flex;
    flex-direction:row-reverse;
    gap:10px;
}

.button {
    padding:1% 2%;
    border-radius:20px;
}
.cancel {
    font-size: larger;
    margin:5px;
    border:none;
    background:none;
    vertical-align: middle;
    background-image: linear-gradient(to top right, rgb(7, 72, 151), rgb(61, 106, 170));    
    text-align: center;
    color: rgb(13, 201, 241);
    
}

ul {
    list-style-type:none;
}

.individual-post {
    width:100%;
    border-radius:10px;
    padding:3%;
    background:rgb(220, 240, 248);
    box-shadow:  0 0 10px rgba(0,0,0,0.2);
}
.main-post {
    padding:1%;
    display:flex;
    flex-direction:column;
}

.post-header {
    display:flex;
    justify-content:space-between;
}

.post-header-left {
    display:flex;
    gap: 20px;
}
.post-header-right {
    margin-right:10px;
    display:flex;
    gap: 20px;
}


.profile-picture {
    width:64px;
    height:64px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.post-content {
    margin:1rem 0%;
    padding: 15px;
    display:flex;
    background:white;
    border-radius:20px;
}

.post-footer {
    display:flex;
    justify-content:space-between;
}
.post-footer-left {
    margin-left:10px;
    width:10%;
    height:10%;
    display:flex;
    gap: 20px;
}

.like-btn-active {
    background-image: linear-gradient(to top right, rgb(7, 72, 151), rgb(61, 106, 170));
    color:white;
    margin-top:1%;
    border-radius:20px;
}

.like-btn-inactive {
    margin-top:1%;
    padding:1% 2%;
    width:64px;
    height:32px;
    border-radius:20px;

}


.post-footer-right {
    margin-right:10px;
    height:10%;
    display:flex;
    gap: 20px;
}

.replies-post {
    margin: 1rem 0rem 1rem 2rem;
    padding:1%;
}

.reply-btn {
    width:80px;
    height:32px;

}

.reply {
    display:none;
}

.user-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow-x: scroll;
    white-space: nowrap;
    
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    min-width: 275px;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    display: inline-block;
}

button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: lightblue;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover{
    opacity: 0.7;

}

.align{
    text-align: center;
}

.font{
    font-family: 'Roboto Condensed', sans-serif;
}

.logo-size{
    text-align: center;
    justify-content: space-between;

}

.logo-size img{
    /* border-radius: 10px; */
    height: 300px;
    width:100%;
    
}

.logo-size div{
    /* border: solid gray; */
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
}

.box{
    text-align: center;
    border-radius: 10px;
    border: 10px solid gray;
    height: 150px; 
}

.font{
    font-family: 'Noto Serif', serif;
    color: white;
    text-align: center;
    text-shadow: 2px 2px rgb(65, 141, 171);
}
/*.post-content {
    padding:10px;
    border:1px solid #999;
    display:flex;
    gap:20px;
}

.post-time {
    margin-left:auto;
}

.individual-post {
    border-radius:10px;
    margin:2% 0%;
    padding:10px;
    border:1px solid #999;
}*/

.nav-img {
  border-radius: 50%;
}

.form-btn {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  margin-top: 0;
  padding: 10px;
  background-image: linear-gradient(to top right, rgb(7, 72, 151), rgb(61, 106, 170));
  border: none;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  color: rgb(13, 201, 241);
  font-size: larger;
}

.form-btn-pending {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  margin-top: 0;
  padding: 10px;
  background-image: linear-gradient(to top right, rgb(7, 72, 151), rgb(61, 106, 170));
  border: none;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  color: rgb(13, 201, 241);
  font-size: larger;
}

.form-btn:hover {
  background-image: linear-gradient(to top right, rgb(7, 72, 151), rgb(7, 72, 151));
}


.show-replies-btn {

    width:132px;
    height:32px;

}

.profile-submit-btn, button {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-image: linear-gradient(to top right, rgb(7, 72, 151), rgb(61, 106, 170));
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    color: rgb(13, 201, 241);
    font-size: larger;
  }
  