

body {
    margin: 4rem;
    font-family: Arial;
    color: rgb(46, 49, 49);
}


h1 {
    font-size: 84px;
    font-weight: lighter;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: lighter;
}

p {
    font-size: 16px;
    font-weight: normal;
}

.main-list {
    padding-left:0
}

.posts-main {
    border-collapse: collapse;
}

.post-main {
    border: 1px solid #999;
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: left;
    margin-bottom: 1rem;
    
}