*{
  box-sizing: border-box;
}
:root{

}
:root{
  --btn-width-100: 100px;
}
body{
  margin: 0;
  padding: 0;
}
nav{
  margin: 0;
  padding: 0;
}
nav ul {
  margin: 0;
  padding: 8px 15px;
  list-style: none;
  display: flex;
  box-shadow: 0 1px 8px rgba(0,0,0,0.3);
}
nav ul li {
  padding: 3px;
}
nav ul li a{
  display: inline-block;
  text-decoration: none;
}
nav ul li #fb{
  background: #0B84ED;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
nav ul li #search_btn{
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.068);
  padding: 8px;
  color: #888;
  width: 40px;
  height: 40px;
  font-size: 1rem;
  border-radius: 50%;
  cursor: pointer;
  
}
nav ul li#space1{
  flex: 1;
}
nav ul li#space2{
  flex: 2;
}
nav ul li a{
  height: 40px;
  width: var(--btn-width-100);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(158, 158, 158);
  transition: .5s;

}
nav ul li #btn_plus,
nav ul li #btn_msg,
nav ul li #btn_bell,
nav ul li #btn_profile{
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #444;
  background: rgba(0, 0, 0, 0.068);
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}


nav ul li:hover #home, 
nav ul li:hover #group, 
nav ul li:hover #tv, 
nav ul li:hover #friend{
  background: rgba(0, 0, 0, 0.138);
  color: #444;
  border-radius: 5px;

} 



.active{
  color: #0B84ED!important; 
}

.tooltip{
  position: relative;
}
.tooltip::after{
  content: attr(data-tooltip);
  height: 30px;
  background: rgba(0,0,0,0.4);
  color: #fff;
  font-size: 1rem;
  text-align: center;
  position: absolute;
  bottom: -150%;
  padding: 5px 12px;
  line-height: 30px;
  border-radius: 3px;
  opacity: 0;
  transition: .3s;
  pointer-events: none;
  user-select: none;
}
.tooltip:hover::after{
  opacity: 1;
}
nav ul li #btn_profile::after{
 margin-left: -20px;
}


@media  screen and (max-width: 700px){
  nav ul li#space1,
  nav ul li#space2{
      display: none;
  }
  nav ul{
      min-width: 600px;
      padding: 8px 12px;
    justify-content: space-between;
  }
  :root{
      --btn-width-100: 60px;
  }
}

/* SIDEBAR STARTS: LEFT */

.sidebarRow {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  
}
.sidebarRow:hover {
  background-color: lightgray;
  border-radius: 10px;

}
.sidebarRow h4{
  margin-left: 20px;
  font-weight: 600;
}
.sidebarRow .material-icons {
  font-size: xx-large;
  color: blue;
}
.sidebar {
  display: flex;
  /* flex-flow: column wrap; */
  flex-direction: column;
}


/* Post-list posts of users with name, date and content styling: */
/* .post-list {
  width: 30%;
  margin-top: 15px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.75);
  display: flex;
  position: relative;
  align-items: center;
  padding: 15px;
} */
.main-content {
  display: flex;
 /* justify-content: left; */
 /* flex-direction: row;
 flex-wrap: wrap;
 text-align: center; */
}
.post-list {
  display: flex;
  flex-flow: row wrap;
  width: 30%;
}
/* img of the post lists */
.post_image img {
  width: 100%;
}
/* likes/comments/share icons */
.post_option {
  display: flex;
  position: relative;
  align-items: center;
  padding: 15px;
}
/* the text inside the container of the post-list: Posted by, time etc */
.container {
  font-size: medium;
  color: green;
  display: flex;
  flex-flow: row;
}
/* }the continer with the likes/comments icons */
.post_options {
  padding-top: 10px;
  border-top: 1px solid lightgrey;
  display: flex;
  /* justify-content: space-evenly; */
  font-size: medium;
  color: grey;
  cursor: pointer;
  padding: 15px;
}
.main_body {
  display: flex;
  justify-content: row-flex;
}

/* text css: */
p {
  background-image: linear-gradient(to left, #282829, #19191a);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
/* posts  */
h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  background-image: linear-gradient(to left, #1b1b1d, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
h5 {
  color: #04AA6D;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #1313e7;
}

.active {
  background-color: #1d4234;
} 