.posts-main {
    border-collapse: collapse;
}

.post-main {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    margin-bottom: 0.5rem;

}

.profile-pic {
    border-radius: 50%;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding-top: 10%;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    padding-top: 10%;
    padding: 0;
    margin: 0;
}