.posts-main {
  border-collapse: collapse;
}

.post-main {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
  margin-bottom: 0.5rem;;
}

/* .logoutbtn {
  font-size: 12px;
  padding: 7px;
  color: #fff;
  background: #068bd8;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.logoutbtn:hover {
  background: #0470af;
} */


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 35%;
  position: absolute;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  transition: all 200ms;
  font-size: 20px;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06aed8;
}

@media screen and (max-width: 700px) {
  .box {
      width: 70%;
  }

  .popup {
      width: 70%;
  }
}