.posts-main {
    border-collapse: collapse;
  }
  
  .post-main {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    margin-bottom: 0.5rem;
  }
  
  html {
      box-sizing: border-box;
      font-family: sans-serif;
      line-height: 1.15;
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: transparent;
      display: block;
  }
  
  body {
    padding-top: 10px;
    padding-bottom: 40px;
    background-color: #eee;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    box-sizing: inherit;
    line-height: 1.5;
    color: #212529;
    display: block;
  }
  
  .container {
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    box-sizing: inherit;
  }
  
  form {
      display: block;
  }
  
  .form-signup {
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
      box-sizing: inherit;
  }
  
  .posts-heading {
      margin-bottom: 10px;
      text-decoration: underline;
      font-size: 2rem;
      font-family: inherit;
      font-weight: 500;
      line-height: 1.1;
      color: inherit;
      display: block;
  }

  .name {
    text-decoration: underline;
  }
  
  p {
      margin-top: 0;
      margin-bottom: 1rem;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      box-sizing: inherit;
  }
  
  .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0,0,0,0);
      white-space: nowrap;
      -webkit-clip-path: inset(50%);
      clip-path: inset(50%);
      border: 0;
  }
  
  label {
      display: inline-block;
      touch-action: manipulation;
      margin-bottom: 0.5rem;
  }
  
  .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
      display: block;
      width: 100%;
      padding: 0.5rem 0.75rem;
      font-size: 1rem;
      line-height: 1.25;
      color: #495057;
      background-color: #fff;
      background-image: none;
      background-clip: padding-box;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: 0.25rem;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  
  input {
      overflow: visible;
      font-family: inherit;
  }
  
  .btn-block {
      display: block;
      width: 100%;
  }
  
  .btn-group-lg>.btn, .btn-lg {
      padding: 0.5rem 1rem;
      font-size: 1.25rem;
      line-height: 1.5;
      border-radius: 0.3rem;
      margin-bottom: 10px;
  }
  
  .btn-primary {
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
  }
  
  .btn {
      display: inline-block;
      font-family: inherit;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      padding: 0.5rem 0.75rem;
      font-size: 0.75rem;
      line-height: 1;
      border-radius: 0.25rem;
      transition: all .15s ease-in-out;
  }

  .posts {
    background-color: #fff;
    border-radius: 0.25rem;
  }
  