/* SETUP */

/* MAIN */

/* POSTS */

/* POSTS - CREATE */

.form_post_create {
  border: 0px;
  box-shadow: 0px 1px 1px 0px;
  border-radius: 10px;
}

textarea {
  display: block;
  width: 250px;
  height: 80px;
}

.img_upload_icon {
  font-size: 275%;
  padding: 0 0 0 2px;
}

.img_upload_icon:hover {
  cursor: pointer;
  content: "\F429";
}

.img_upload_icon:hover::before {
  content: "\F429";
}

.image-upload {
  display: inline;
}

.image-upload > input {
  display: none;
}

.input {
  display: inline;
}

.btn {
  margin: 0 0 25px 2px;
}

.post_btns {
  padding: 0 0 0 45px;
}

/* POSTS - VIEW */

.post-card {
  box-shadow: 0px 1px 1px 0px;
  background-color: #f8f9fa;
  border-radius: 20px;
  /* border: 1px solid #555; */
}

.card-img {
  border-radius: 50%;
  border: 4px solid #555;
  width: 90%;
  height: auto;
}

.img-profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

.card {
  border: 0px;
}

.card-body {
  /* background-color: ; */
}

.text-muted {
  padding: 0 8px 0 0;
}

i {
  padding: 0 8px 0 0;
}

.img-comment:hover::before {
  content: "\F252";
}

.img-comment:hover {
  content: "\F253";
}

.img-like:hover::before {
  content: "\F415";
}

.img-like:hover {
  color: red;
  content: "\F417";
}

.img-out:hover::before {
  content: "\F52D";
}

.img-out:hover {
  color: #1e90ff;
  /*content: "\F52D";*/
}

#colour_btn {
  text-decoration: none;
  color: black;
}

#colour_btn:hover {
  text-decoration: none;
  color: black;
}

.counter {
  display: inline;
  padding: 0 20px 0 0;
}

.image_post {
  width: 200px;
  height: 200px;
  border-radius: 10%;
}

/* LIKES */

/* LIKES_CARD */
.card {
  border: 0px;
  background-color: #f8f9fa;
}

.likes-card {
  border: 0px;
  box-shadow: 0px 1px 1px 0px;
  border-radius: 10px;
}

/* LIKES_CARD_PROFILE_PHOTO */
.card-img {
  border-radius: 50%;
  border: 4px solid #555;
  width: 90%;
  height: auto;
}

.img-profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

/* LIKES_CARD_TEXT */
.likes-card-container {
  display: flex;
  align-items: center;
}

.likes-card-title {
  display: inline;
}

.text-muted {
  padding: 0 8px 0 0;
}

/* NAV BAR */

#creator {
  margin: auto;
  /* padding: 10px; */
  width: 500px;
}

.navbar {
  backdrop-filter: blur(12px) !important;
  -webkit-backdrop-filter: blur(12px) !important;
}

button,
button::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

button {
  background: none;
  cursor: pointer;
  border: none;
  display: block;
  font-size: 2;
  color: #0064d0;
  position: relative;
}

button::before,
button::after {
  background: #0064d0;
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 3.5px;
}

button:hover {
  color: whitesmoke;
  text-decoration: underline;
}

.btn-1::after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-1:hover:after {
  height: 100%;
}

.btn-1 {
  font-weight: bold;
  color: #0054ad;
}

.btn-2::after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-2:hover:after {
  height: 100%;
}

.btn-3 {
  position: absolute;
  color: #0d6efd;
  border: 2px solid;
  border-radius: 3.5px;
  width: 320px;
  transform: translatex(-15px);
}

.btn-3::after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
  background: #0d6efd;
}

.btn-3:hover:after {
  height: 100%;
}

.btn-info {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.login_box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 10px;
}

.login_box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: rgb(0, 0, 0);
  text-align: center;
}

.login_box .user-box {
  position: relative;
}

.login_box .user-box input {
  width: 100%;
  padding: 10px 10px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
  border: none;
  /* border-radius: 5px; */
  border-bottom: 1px solid rgb(0, 0, 0);
  outline: none;
  background: transparent;
}

.login_box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 10px;
  font-size: 16px;
  color: 3C6478;
  pointer-events: none;
  transition: 0.5s;
}

.login_box .user-box input:focus ~ label,
.login_box .user-box input:valid ~ label,
.login_box .user-box input:-webkit-autofill,
.login_box .user-box input:-webkit-autofill:hover,
.login_box .user-box input:-webkit-autofill:focus {
  top: -30px;
  left: -10px;
  color: #838383;
  font-size: 12px;
}

.eye {
  position: absolute;
}

#hide1 {
  display: none;
}

a.one {
  font-size: 13px;
  position: relative;
  left: 215px;
  bottom: 30px;
}
a.one:hover {
  text-decoration: underline;
}
/* ---------------------------------------------------------------------------------------- */
/* friends page */
/* all users page */
/* ---------------------------------------------------------------------------------------- */

.wrapper-flex {
  display: flex;
  flex-wrap: wrap;
  /* width: 50%; */
  /* justify-content: center; */
}

.friends-container {
  overflow: hidden;
  box-shadow: 0px 1px 1px 0px;
  background-color: white;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  width: 280px;
  margin-bottom: 1rem;
  margin-left: 1rem;
  /* border: #007bff; */
}

.users-container {
  overflow: hidden;
  box-shadow: 0px 1px 1px 0px;
  background: rgba(238, 174, 202, 0.3);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 0.296) 0%,
    rgba(148, 188, 233, 0.451) 100%
  );
  color: #000000;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  width: 280px;
  margin-bottom: 1rem;
  margin-left: 1rem;
  /* border: #007bff; */
}

.banner-img-friends {
  position: absolute;
  background-image: url(https://images.unsplash.com/photo-1582727657635-c771002bdada?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
  height: 10rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-img {
  width: 8rem;
  clip-path: circle(60px at center);
  margin-top: 4.5rem;
}

.name {
  font-weight: bold;
  font-size: 1.5rem;
}

.description {
  margin: 1rem 2rem;
  font-size: 0.9rem;
}

/* COMMENTS */

.title_comments {
  text-align: center;
  font-family: ;
}

/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */

.content {
  max-width: 500px;
  margin: auto;
}

.alert-danger {
  font-size: 16px;
  text-align: center;
}

/* CREDITS_LINKS */

.credit_links {
  text-align: center;
  padding: 50px;
}

