/* SETUP */

/* MAIN */

/* POSTS */

/* POSTS - CREATE */

textarea {
  resize: none;
}

/* POSTS - VIEW */

.post-card {
  background-color: #f8f9fa;
  border-radius: 20px;
  border: 1px solid #555;
}

.card-img {
  border-radius: 50%;
  border: 4px solid #555;
  width: 90%;
  height: auto;
}

.img-profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.card-body {
  /* background-color: ; */
}

.text-muted {
  padding: 0 8px 0 0;
}

i {
  padding: 0 8px 0 0;
}

.img-comment:hover::before {
  content: '\F252';
}

.img-comment:hover {
  content: '\F253';
}

.img-like:hover::before {
  content: '\F415';
}

.img-like:hover {
  color: red;
  content: '\F417';
}

.img-out:hover::before {
  content: '\F52D';
}

.img-out:hover {
  color: #1e90ff;
  /*content: "\F52D";*/
}

#colour_btn {
  color: black;
}

#colour_btn:hover {
  color: black;
}

.counter {
  display: inline;
  padding: 0 20px 0 0;
}

.image_post {
  width: 200px;
  height: 200px;
  border-radius: 10%;
}

#creator {
  margin: auto;
  /* padding: 10px; */
  width: 500px;
}
