@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f3f3ec;
    color: black; /* Text color for body */
    margin: 0;
    padding: 0;
}

.header {
    background-color: #ADD8E6; /* Header background color */
    color: black; /* Text color for header */
    padding-left: 35px;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    height: 75px;
}

.header-title {
    display: flex;
    margin: 15px 0px;
    height: 45px;
}

.header-title-name {
    margin-right: 5px;
}

.profile-image {
    color: black;
    text-decoration: none;
    font-size: 1.8rem;
    border-radius: 50%; /* Make the profile image round */
    object-fit: cover;
    margin-right: 10px;
}

.profile-image img {
    border-radius: 50%; /* Make the profile image round */
    object-fit: cover;
    margin-right: 10px;
}

.header-title-name {
    margin-left: 10px;
    text-transform: capitalize;
}

.menu-right {
    display: flex;
    align-items: center;
}

.menu-right a {
    color: black; /* Text color for menu links */
    margin: 0 10px;
    text-decoration: none;
    transform: scale(1.08);
}

.menu-right a:hover {
    transform: scale(1.08);
    color: white;
}

.menu-right form {
    margin: 0;
}

.menu-right input[type="submit"] {
    background-color: #ADD8E6;
    color: black;
    padding: 0px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transform: scale(1.08);
}

.menu-right input[type="submit"]:hover {
    background-color: #ADD8E6;
}

.contentForm, .commentForm{
    max-width: 80%;
    margin: 3.5rem;
    padding: 20px;
    background-color: #f3f3ec;
}

.userSignup, .userLogin {
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fafaf7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


textarea{
    background-color: #f3f3ec;
}

.listed {
    max-width: 30%;
    margin: 0rem;
    padding: 20px;
    background-color: #fafaf7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.postContainer {
    list-style: none;
}

input[type="text"],
input[type="password"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black; /* Text color for input fields */
}

input[type="submit"],
input[type="reset"] {
    background-color: #ADD8E6;
    color: black;
    padding: 10px 15px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #177b90;
    transform: scale(1.08);
    color: white;
}

button {
    background-color: #ADD8E6;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s;
}

button:hover {
    background-color: #177b90;
    transform: scale(1.08);
    color: white;
}

.friendButton {
    background-color: #ADD8E6;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.user-profile-container {
    display: inline-flex;
    margin: auto 30px;
}

.user-profile-heading {
    display: flex;
    flex-direction: column;
    margin: 35px 0px;
}

.user-profile-title {
    display: flex;
    justify-content: center;
    max-width: 180px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
}

.user-profile-image {
    color: black;
    text-decoration: none;
    font-size: 1.8rem;
    border-radius: 50%; /* Make the profile image round */
    object-fit: cover;
    border: 2px solid black;
}

.user-profile-request-btn {
    display: flex;
    justify-content: center;
    max-width: 180px;
}

.user-profile-post {
    list-style: none;
}

.user-card-posts {
    max-width: 100%;
    margin: 0rem;
    padding: 20px;
    background-color: #fafaf7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
}

.user-profile-timeline {
    width: 700px;
    margin-top: 20px;
    list-style: none;
    padding-inline-start: 0px;
}

.user-profile-timeline ul {
    padding-inline-start: 20px;
}

.user-posts-header {
    padding-left: 45px;
}

.profile-with-name {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    transition: transform 0.3s;
    text-transform: capitalize;
    font-weight: 600;
}

.profile-with-name:hover {
    color: #177b90;
}

.profile-with-name img {
    border-radius: 50%; /* Make the profile image round */
    object-fit: cover;
    margin-right: 10px;
}

.comment-like-btns {
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 50px;
}

.posts-timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    margin: 0px auto;
    list-style: none;
    padding-inline-start: 0px;
}

.welcome-title {
    display: flex;
    justify-content: center;
    margin: 15px 0px;
    height: 45px;
    padding-left: 40px;
    font-size: 30px;
}

.posts-content-form {
    max-width: 100%;
    background-color: #f3f3ec;
    padding-left: 40px;
}

.posts-content-form #timeline-form-content {
    width: 93%;
    padding: 20px;
}

.timeline-posts {
    padding-left: 0px;
}

.posts-form-btns {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 5px;
}

.post-content {
    margin-bottom: 20px;
}

input[type="submit-posts"] {
    background-color: #ADD8E6;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s;
}

input[type="submit-posts"]:hover {
    background-color: #177b90;
    transform: scale(1.08);
    color: white;
}

.requests {
    list-style: none;
    width: 200px;
    margin: 10px;
    display: inline-grid;
    align-items: center;
    justify-items: center;
}

.request-profile-with-name {
    text-decoration: none;
    color: black;
    transition: transform 0.3s;
    text-transform: capitalize;
    font-weight: 600;
}

.request-profile-with-name:hover {
    color: #177b90;
}

.request-profile-with-name img {
    border-radius: 50%; /* Make the profile image round */
    object-fit: cover;
    margin-right: 10px;
}

.request-user-profile-title {
    display: flex;
    justify-content: center;
    max-width: 180px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    transition: transform 0.3s;
}

.user-profile-with-name:hover {
    color: #177b90;
}

.friends-with-requests {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}