<!DOCTYPE html>
<html>
    <head>
        <title>HomePage</title>
        <homepage src="homepage.js"></homepage>
    </head>

    <body>
    <h1>Wellcome!</h1>

        <h2>Please sign in</h2>
        User Name:<input type="text" value =""><br><br>
        Password:<input type="text" value =""><br><br>
        <!-- <button>Submit</button> -->
        <button click="runCode()">Submit</button>

        <p>Not a user? Please register below:</p>
        <h2>Please register</h2>
        First Name:<input type="text" value =""><br><br>
        Surname:<input type="text" value =""><br><br>
        Email Address:<input type="text" value =""><br><br>
        Password:<input type="text" value =""><br><br>
        <!-- <button>Submit</button> -->
        <button click="runCode()">Submit</button>

    </body>
</html>