<!DOCTYPE html>
<html>
    <head>
        <title>HomePage</title>
        <homepage src="homepage.js"></homepage>
    </head>

    <body>
    <h1>Wellcome to Acebook!</h1>

        <!-- <h2>Please sign in</h2>
        User Name:<input type="text" value =""><br><br>
        Password:<input type="text" value =""><br><br>
        <!-- <button>Submit</button> -->
        <!-- <button click="runCode()">Submit</button> --> -->

        <!-- <p>Not a user? Please register below:</p>
        <h2>Please register</h2>
        First Name:<input type="text" value ="" th:field="*{First Name}"><br><br>
        Surname:<input type="text" value ="" th:field="*{Surname}"><br><br>
        Email Address:<input type="text" value ="" th:field="*{Email Address}"><br><br>
        Password:<input type="text" value ="" th:field="*{Password}"><br><br>
        <!-- <button>Submit</button> -->
        <!-- <button click="runCode()">Submit</button> --> -->

    </body>
</html>