<!DOCTYPE html>

<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
  <head lang="en">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/main.css" />

    <title>Acebook</title>
  </head>

  <body>
    <tr>
      <td rowspan="6">
          <!-- IF -->
          <div th:if="${post.user.profileimage.length != 0} ">
              <img class="profileImage" th:src="'data:image/jpeg;base64,' + ${imgUtil.getImgData(post.user.profileimage)}" alt="" />
          </div>
          <!-- ELSE -->
          <div th:if="${post.user.profileimage.length == 0} ">
              <img class="profileImage" th:src="@{/images/cat.jpg}"  alt="" />
          </div>
      </td>
      <td>
          <div th:text="${post.user.username}" ></div>
          <div th:text="${post.content}" ></div>
          <div th:text="${post.time}" ></div>
          <form th:action="@{'/deletePost/{id}'(id=${post.id})}" th:object="${post}" method="post">
            <input type="hidden" th:id="${post.id}">Delete</input>
            <button type="submit" id="delete" onClick="return confirm('Are you sure you want to delete this post?')"></button>
        </form>
      </td>
      <div th:each="comment: ${comments}">
        <table> 
          <tr>
            <td rowspan="6">
              <!-- <div th:text="${comment.post.user.username}" ></div> -->
              <div th:text="${comment.content}" ></div>
              <div th:text="${comment.time}" ></div>
            </td>
          </tr>
        
        
        </table>
      </div>  
          <form action="#" th:action="@{'/post/{id}' (id=${post.id})}" th:object="${comment}" method="post">
            <p>Content: <input type="text" th:field="*{content}" pattern=".*\S+.*" title="This field is required" required/></p>
            <input type="hidden"  th:value="${post.id}"  id="post" name="post"/>
            <input type="hidden"  th:value="${post.user.id}"  id="user" name="user"/>
            <p><input id='submit' type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>

        
      
    
    </body>
</html>
