<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/website.css"/>
    <title>Acebook</title>
</head>
<body>

<div class="header">
    <a th:href="@{/posts}" class="profile-image">
        <div class="header-title" sec:authorize="isAuthenticated()">
            <strong>Acebook</strong>
        </div>
    </a>
    <div class="menu-right">
        <a href="/posts">Timeline</a>
        <a href="/friends">Friends</a>

        <!-- Conditional Rendering based on session -->
        <div th:if="${session.containsKey('user_id')}">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
        <div th:unless="${session.containsKey('user_id')}">
            <a href="/login">Log In</a>
            <a href="/register">Register</a>
        </div>
        <a th:href="@{/users/{id}(id=${principalUser.getId()})}" class="profile-image">
            <div class="header-title" sec:authorize="isAuthenticated()">
                <img th:src="@{${principalUser.getImageUrl() == '' ? 'https://png.pngtree.com/png-clipart/20230408/original/pngtree-cartoon-leaf-illustration-png-image_9036566.png' : principalUser.getImageUrl()}}" width="45" height="45" alt="Profile Image">
            </div>
        </a>
    </div>
</div>

  
<br>
<img style="margin-left: 20px;" th:src="${postOwner.getImageUrl() == '' ? 'https://png.pngtree.com/png-clipart/20230408/original/pngtree-cartoon-leaf-illustration-png-image_9036566.png' : postOwner.getImageUrl()}" width="20" height="20"/>
<span style="margin-left: 10px;" th:text="${postOwner.getUsername()}"></span>
<h3 style="margin-left: 20px;" th:text="${currentPost.content}"></h3>
 
  <!--    Form to add a comment to post -->
    <form action="#" th:action="@{/post/addComment}" th:object="${newComment}" method="post" class="commentForm">
        <textarea type="text" cols="40" rows="5" placeholder="Enter a comment..." id="addComment" th:field="*{comment}">
        </textarea>
      <input type="hidden" name="postId" th:value="${currentPost.id}"/>
        <p><input type="submit" id="submitComment" value="Submit" /> <input type="reset" value="Reset" /></p>
      </form>


<!--List each comment and associated user-->
    <ul th:each="entry: ${commentsAndOwners.entrySet()}">
        <li>
<!--            users image-->
            <img th:src="${entry.getValue().getImageUrl() == '' ? 'https://png.pngtree.com/png-clipart/20230408/original/pngtree-cartoon-leaf-illustration-png-image_9036566.png' : entry.getValue().getImageUrl()}" width="20" height="20"/>
<!--            users username-->
            <span th:text="${entry.getValue().getUsername()}"></span>
<!--            comment contents-->
            <p id="commentContent" th:text="${entry.getKey().getComment()}"></p>
        </li>
    </ul>
  
</body>
</html>