<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Acebook</title>
</head>
<body>
    <p th:text="${currentPost.content}"></p>
    <form action="#" th:action="@{/post/{id}(id=${currentPost.id})}" th:object="${newComment}" method="post">
        <p>Comment: <input type="text" id="comment" th:field="*{comment}" /></p>
        <p><input type="submit" id="addComment" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    <ul>
        <li>Comment 1</li>
        <li>Comment 2</li>
        <li>Comment 3</li>
    </ul>
</body>
</html>