<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <title>Post</title>
</head>
<body>
    <p th:text="${currentPost.content}"></p>

<!--    Form to add a comment to post -->
    <form action="#" th:action="@{/post/addComment}" th:object="${newComment}" method="post">
        <input type="hidden" name="postId" th:value="${currentPost.id}"/>
        <p>Comment: <input type="text" name="comment" th:field="*{comment}" /></p>
        <p><input type="submit" id="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    <ul>
        <li>Comment 1</li>
        <li>Comment 2</li>
        <li>Comment 3</li>
    </ul>
</body>
</html>