<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>Messages - Winklevoss</title>
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>
      <nav> <!-- nav bar - subject to change -->
        <a href="/"><img style="height: 90px; margin-top: -22px; margin-right: 50px; overflow-y: hidden;" src="orangeandbrown.png" alt="placeholder"></a>
        <a href="/posts"><p>Posts</p></a>
        <a href="/profile"><p>Profile</p></a>
        <a th:href="'/wall/' + ${id}"><p>My Wall</p></a>
        <a href="/friends"><p>Friends</p></a>
        <!-- <a href="/groups"><p>Groups</p></a> -->
        <!-- <a href="/events"><p>Events</p></a> -->
        <a><p>Messages</p></a>
        <form>
          <input style="margin-left: 42px; margin-top: 15px; width: 230px;" type="search" placeholder="Search">
        </form>
        <img style="margin-top: 5px; margin-left: 50px;"; src="default-avatar.jpeg">
        <div class="logout">
          <!-- // Show user ID and username for debugging (has to go above logout button or it will cover it) -->
          <p style="margin-top: 60px; background-color: rgb(222, 124, 4);" th:text="'User ID: ' + ${id}"></p>
        </div>
        <div class="logout">
          <form action="/logout" method="get" onsubmit="return confirm('Are you sure?');">
            <p><input type="submit" id="Logout" value="Logout"/></p>
          </form>
        </div>
      </nav>
      
      <div class="container">
        <div class="title">
          <h1>Direct Messages</h1>
        </div>

        <p>This will be the Direct Messages page.</p>

      </div>
    </body>
</html>