<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <style>
        .rounded-circle {
            border-radius: 9999px;
        }
        .input-circle {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .button-circle {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    </style>
</head>
<body>
<div th:fragment="navbar">
    <nav class="flex w-full items-center border-b border-border-primary bg-background-primary lg:min-h-18 lg:px-[5%]">
        <div class="size-full lg:flex lg:items-center lg:justify-between">
            <div class="flex min-h-16 items-center justify-between px-[5%] md:min-h-18 lg:min-h-full lg:px-0">
                <a href="/"><img src="/images/logo.png" alt="Logo image" class="w-36 h-auto" /></a>
                <button class="-mr-2 flex size-12 flex-col items-center justify-center lg:hidden">
                    <span class="my-[3px] h-0.5 w-6 bg-black"></span>
                    <span class="my-[3px] h-0.5 w-6 bg-black"></span>
                    <span class="my-[3px] h-0.5 w-6 bg-black"></span>
                </button>
            </div>
            <div class="overflow-hidden px-[5%] lg:flex lg:items-center lg:px-0 lg:[--height-closed:auto] lg:[--height-open:auto]" style="height: var(--height-closed, 0)">
                <div class="first:pt-4 lg:first:pt-0">
                    <a href="/events/new" class="block py-3 text-md focus-visible:outline-none lg:px-4 lg:py-2 lg:text-base">Create event</a>
                </div>
                <div class="first:pt-4 lg:first:pt-0">
                    <a href="/events/third-party-events" class="block py-3 text-md focus-visible:outline-none lg:px-4 lg:py-2 lg:text-base">Find events</a>
                </div>
                <div class="first:pt-4 lg:first:pt-0">
                    <a href="/account" class="block py-3 text-md focus-visible:outline-none lg:px-4 lg:py-2 lg:text-base">Account</a>
                </div>
                <div class="mt-6 flex flex-col items-center gap-4 lg:ml-4 lg:mt-0 lg:flex-row">
                    <div sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post" class="inline">
                            <button type="submit" class="focus-visible:ring-border-primary inline-flex gap-3 items-center justify-center whitespace-nowrap ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-border-primary text-text-primary bg-background-primary px-5 py-2">
                                Logout
                            </button>
                        </form>
                    </div>
                    <div sec:authorize="!isAuthenticated()">
                        <button class="focus-visible:ring-border-primary inline-flex gap-3 items-center justify-center whitespace-nowrap ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-border-primary text-text-primary bg-background-primary px-5 py-2">
                            <a href="/login" class="block py-3 text-md focus-visible:outline-none lg:px-4 lg:py-2 lg:text-base">Login</a>
                        </button>
                        <button class="focus-visible:ring-border-primary inline-flex gap-3 items-center justify-center whitespace-nowrap ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-border-primary bg-background-alternative text-text-alternative px-5 py-2">
                            <a href="/register" class="block py-3 text-md focus-visible:outline-none lg:px-4 lg:py-2 lg:text-base">Signup</a>
                        </button>
                    </div>
                    <!-- Include Dark Mode Fragment -->
                    <div th:replace="fragments/dark-mode :: dark-mode"></div>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
