<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <ul>
    <li class="requests" th:each="user : ${friendRequests}">
      <span th:text="${user.getUsername()}"></span>

      <form th:action="@{/handleFriendConfirmation}" method="post">
        <input type="hidden" th:name="userId" th:value="${user.getId()}" />
        <button type="submit" name="action" value="accept">Accept</button>
        <button type="submit" name="action" value="deny">Deny</button>
      </form>
    </li>
  </ul>

  <hr />
  <ul>
    <li>friend one</li>
    <li>friend two</li>
    <li>friend three</li>
  </ul>

</body>
</html>