<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sign up</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
  </head>
  <body>
    <div class="container">
        <!-- sign up form -->
        <form class="form-signin" th:action="@{/users}" th:object="${user}" method="post">
        <h2 class="form-signin-heading">Please sign up</h2>
          <label for="username" class="sr-only">Username</label>
          <input type="text" th:field="*{username}" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
          <label for="password" class="sr-only">Password</label>
          <input type="password" th:field="*{password}" id="password" minlength="7" name="password" class="form-control" placeholder="Password" required>
          <button id="signup" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </form>
      <!-- redirect to login page  -->
      <form class="form-signin" method="get" action="/login">
        <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Login</button>
      <div id="emailHelp" class="form-text">Please login here if you already have an account.</div>
    </form>
</body>
</html>
</html>
