<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Signup</title>
        <link rel="stylesheet" href="/main.css" />
    </head>

    <header>
        <div class="navbar">
            <a href="/login">Login</a>
            <a href="/users/new" class="active">Sign up</a>
            <a href="/posts">Posts</a>
            <a href="/logout">Logout</a>
        </div>
    </header>
    
    <body>
        <form action="#" th:action="@{/users}" th:object="${user}" method="post">
            <p>Username: <input type="text" th:field="*{username}" /></p>
            <p>Password: <input type="password" th:field="*{password}" /></p>
            <p><input type="submit" value="Submit" id="submit"/> <input type="reset" value="Reset" /></p>
        </form>
    </body>
</html>