<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Signup</title>
    </head>
    <body>
        <div class="header" th:replace="common/navbar::headernavfragment"></div>
        
        <form action="#" th:action="@{/users}" th:object="${user}" method="post" enctype="multipart/form-data">
            <p>Username: <input type="text" th:field="*{username}" /></p>
            <p>Password: <input type="password" th:field="*{password}" /></p>

            <div>
                <label>Photo: </label>
                <input type="hidden" name="image" id="base64-data-input" />
                <div id="file-uploader-container">
                    <input type="file" id="file-upload-input" accept="image/*">
                </div>
            </div>
            
            <p><input type="submit" value="Submit" id="submit"/> <input type="reset" value="Reset" /></p>
        </form>
    </body>
</html>