<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Acebook</title>
    <link rel="stylesheet" href="/main.css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.11.2/css/all.css} "/>
    <link th:rel="stylesheet" th:href="@{assets/bootstrap4-toggle/bootstrap4-toggle.min.css}"/>
</head>
<body>

<div th:insert="fragments/fragments :: NavBar"></div>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

    <div class="container">
        <div class = "col-8">
            <div class = "card-body">
                <h5>Update your profile</h5>
                <div sec:authorize="isAuthenticated()">
                    Signed in as <span sec:authentication="name"></span>
                </div>
                <br>
                <form method="POST" th:action="@{/users/profilePicture}" th:enctype="@{multipart/form-data}" >

                    File:
                    <input type="file" name="file" id="file" />
                    <br>
                    <input type="submit" value="Upload" name="upload" id="upload" />
                </form>
            </div>
        </div>
    </div>

</body>
</html>
