<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Signup</title>
        <link rel="stylesheet" href="/profile.css">
        <link rel="stylesheet" href="/main.css" />
        <!-- <script src="/index_script.js" defer></script> -->
        <script>
          function confirmDeletePost(element){
            if(confirm("Are you sure?")){
              document.getElementById(element.getAttribute("post-id")+"-form").submit();
            }
          }
        </script>
    </head>
    <body>
      <div class="header" th:replace="common/navbar::headernavfragment"></div>
      <h1 th:text="${profile_username}"></h1>
      <div th:switch="${profile_username==my_username}">
        <div th:case="false">
          <div th:switch="${profile_info_optional.isPresent()}">
            <div th:case="true">
              <img th:src="${profile_info.cover_image}">
              <p th:text="${profile_info.nickname}"></p>
              <p th:text="${profile_info.bio}"></p>
              <p th:text="${profile_info.pronouns}"></p>
              <p th:text="${profile_info.birthday}"></p>
            </div>
          </div>
        </div>
        <div th:case="true">
          <div th:switch="${profile_info_optional.isPresent()}">
            <div th:case="true">
              <img th:src="${profile_info.cover_image}">
              <h3>Update Your Personal Information:</h3>
              <form action="#" th:action="@{/profiles}" th:object="${profile}" method="post">
                <p>Nickname: <input type="text" name="nickname" th:value="${profile_info.nickname}" /></p>
                <p>About Me: <textarea type="text" name="bio" th:text="${profile_info.bio}" ></textarea></p>
                <p>Pronouns: <input type="text" name="pronouns" th:value="${profile_info.pronouns}"/></p>
                <p>Birthday: <input type="date" name="birthday" th:value="${profile_info.birthday}"/></p>
                <div>
                  <label>New cover image: </label>
                  <input type="hidden" name="cover_image" id="base64-data-input" th:value="${profile_info.cover_image}" />
                  <div id="file-uploader-container">
                      <input type="file" id="file-upload-input" accept="image/*">
                  </div>
                </div>
                <p><input type="submit" value="Submit" id="submit"/></p>
              </form>
            </div>
            <div th:case="false">
              <h3>Add Your Personal Information:</h3>
              <form action="#" th:action="@{/profiles}" th:object="${profile}" method="post">
                <p>Nickname: <input type="text" name="nickname"  /></p>
                <p>About Me: <textarea type="text" name="bio"  ></textarea></p>
                <p>Pronouns: <input type="text" name="pronouns" /></p>
                <p>Birthday: <input type="date" name="birthday" /></p>
                <div>
                  <label>New cover image: </label>
                  <input type="hidden" name="cover_image" id="base64-data-input" />
                  <div id="file-uploader-container">
                      <input type="file" id="file-upload-input" accept="image/*">
                  </div>
                </div>
                <p><input type="submit" value="Submit" id="submit"/></p>
              </form>
            </div>
          </div>
        </div>
      <div>


      <div th:switch="${profile_username==my_username}">
        <div th:case="false">
          <!-- profile is not the user's, shows friend request button -->
          <div th:switch="${friend_repository.hasRequested(my_id,profile_id) || friend_repository.hasRequested(profile_id,my_id)}">
            <div th:case="false">
              <!-- request does not exist -->
              <form action="#" th:action="@{/friends}" th:object="${friend}" method="post">
                <input type="hidden" th:value="${profile_id}" name="to_user" />
                <input id="add-friend-button" type="submit" value="Add friend">
              </form>
            </div>
            <div th:case="true">
              <!-- request exists -->
              <div th:switch="${friend_repository.findRequest(my_id,profile_id).getFromUser()==my_id}">
                <div th:case="true">
                  <!-- user has sent the request -->
                  <div th:switch="${friend_repository.findRequest(my_id,profile_id).getConfirmed()!=1}">
                    <div th:case="true">
                      <!-- request has not been confirmed -->
                      <input id="add-friend-button" type="submit" value="Pending" disabled="disabled">
                    </div>
                    <div th:case="false">
                      <!-- request has been confirmed -->
                      <p id="is-friends">You're friends!</p>
                    </div>
                  </div>
                </div>
                <div th:case="false">
                  <!-- user did not send the request -->
                  <div th:switch="${friend_repository.findRequest(profile_id,my_id).getConfirmed()!=1}">
                    <div th:case="true">
                      <!-- request has not been confirmed -->
                      <input id="add-friend-button" type="submit" value="Pending" disabled="disabled">
                    </div>
                    <div th:case="false">
                      <!-- request has been confirmed -->
                      <p id="is-friends">You're friends!</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div th:case="true" class="friends">
          <!-- profile is the user's, shows friend request list -->
          <div class="my-friends">
            <h2>Your friends</h2>
            <ul th:each="friend: ${my_friends}">
              <li>
                <div th:switch="${user_repository.findById(friend.getFromUser()).get().getUsername()!=my_username}">
                  <p th:case="true"><span id="friend-name" th:text="${user_repository.findById(friend.getFromUser()).get().getUsername()}"></span></p>
                  <p th:case="false"><span id="friend-name" th:text="${user_repository.findById(friend.getToUser()).get().getUsername()}"></span></p>
                </div>
              </li>
            </ul>
          </div>
          <div class="friend-requests">
            <h2>Friend requests</h2>
            <ul th:each="friend: ${my_friend_requests}">
              <li>
                <p id="friend-request-name" th:text="${user_repository.findById(friend.getFromUser()).get().getUsername()}"></p>
                <form action="#" th:action="@{/friends/accept}" th:object="${friend}" method="post">
                  <input type="hidden" th:value="${friend.getId()}" name="id" />
                  <input id="accept-request-button" type="submit" value="Accept" style="background-color:cyan;">
                </form>
                <form action="#" th:action="@{/friends/reject}" th:object="${friend}" method="post">
                  <input type="hidden" th:value="${friend.getId()}" name="id" />
                  <input id="reject-request-button" type="submit" value="Reject" style="background-color:red;color:white;">
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <h1>My Posts</h1>

      <div th:id="${'post-wrapper-'+post.id}" class="individual-post" th:each="post: ${posts}">
      <div class="main-post">
          <div class="post-header">
              <div class="post-header-left">
                  <div class="profile-picture flex-center"><img th:src="${post.image}" /></div>
                  <div class="flex-center" th:text="${post.username}"></div>
              </div>
              <div class="post-header-right flex-center">
                  <div th:text="${post.time_posted}"></div>
              </div>
          </div>
          <div class="post-content">
              <div th:text="${post.content}"></div>
          </div>
          <div class="post-footer">
              <div class="post-footer-left flex-center">
                  <div>
                      <form action="#" th:action="@{/likes}" th:object="${like}" method="post">
                          <input type="hidden" th:value="${post.id}" name="post_id" />
                          <div th:switch="${postsUserHasLiked.get(post.id)}">
                              <input class="like-btn-active" th:case="true" type="submit" value="Liked!" />
                              <input class="like-btn-inactive" th:case="false" type="submit" value="Like" />
                          </div>
                      </form>
                  </div>
                  <div th:text="${allLikes.get(post.id)}">
                  </div>
              </div>
              <div class="post-footer-right flex-center">
                  <div>
                    <a th:href="${'/posts/'+post.id}">
                      <button style="width:100px" class="reply-btn button main-btn">View post</button>
                    </a>
                  </div>
                  <div th:switch="${post.username==my_username}">
                    <div th:case="true">
                      <form th:id="${post.id+'-form'}" action="#" th:action="@{/posts/delete}" th:object="${post}" method="post">
                        <input type="hidden" th:value="${post.id}" name="id" />
                      </form>
                      <button style="width:100px" class="reply-btn button main-btn" th:post-id="${post.id}" onclick="confirmDeletePost(this)" type="submit">Delete post</button>
                    </div>
                  </div>
              </div>
          </div>
          <div class="reply">
              <form action="#" th:action="@{/posts/reply}" th:object="${reply}" method="post">
                  <div class="flex-center" style="margin-top:10px">
                      <input type="hidden" name="post_id" th:value = "${post.id}" />
                      <input class="main-input" type="text" name="content" />

                      <p><input class="button reply-btn" type="submit" value="Post" /></p>
                  </div>
              </form>
          </div>
      </div>
      <!-- <div class="replies-post" th:each="reply: ${replies}" th:if="${reply.post_id == post.id}">
          <div class="post-header">
              <div class="post-header-left">
                  <div class="profile-picture flex-center">profile pic</div>
                  <div class="flex-center" th:text="${reply.username}"></div>
              </div>
              <div class="post-header-right flex-center">
                  <div th:text="${reply.time_posted}"></div>
              </div>
          </div>
          <div class="post-content">
              <div th:text="${reply.content}"></div>
          </div>
          <div class="post-footer">
              <div class="post-footer-left flex-center">
                  <div>
                      LIKE BTN
                  </div>
                  <div>
                      3 LIKES
                  </div>
              </div>
              <div class="post-footer-right flex-center">
                  <div>
                      <button class="reply-btn button main-btn">Reply</button>
                  </div>
              </div>
          </div>
          <div class="reply">
              <form action="#" th:action="@{/posts/reply}" th:object="${reply}" method="post">
                  <div class="flex-center" style="margin-top:10px">
                      <input type="hidden" name="post_id" th:value = "${post.id}" />
                      <input class="main-input" type="text" name="content" />

                      <p><input class="button reply-btn" type="submit" value="Post" /></p>
                  </div>
              </form>
          </div>
      </div> -->
      </div>
  </body>
</html>
