<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
<head lang="en">
    <meta charset="UTF-8"/>
    <title th:text="${user.username} + '\'s Profile'"></title>
    <link rel="stylesheet" href="/main.css"/>
</head>
<body>

    <div class="header">
        <div th:href="${session.containsKey('user_id')}">
            <a th:href="@{/users/{userId}(userId=${user.id})}" class="profile_image">
                <img src="https://t3.ftcdn.net/jpg/02/43/12/34/360_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg" width="20" height="20" alt="Profile Image">
            </a>
        </div>
    <div class="menu-right">
        <a href="/friends">Friends</a>
        <a href="/posts">Timeline</a>

        <div th:if="${!isCurrentUser}">
            <form action="@{/handleFriendRequest/{userId}(userId=${user.id})}">
                <button type="submit">Friend Request</button>
            </form>
        </div>
        <p th:text="${user.id}"></p>
        <p th:text="${currentUser.id}"></p>

        <!-- Conditional Rendering based on session -->
        <div th:if="${session.containsKey('user_id')}">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
        <div th:unless="${session.containsKey('user_id')}">
            <a href="/login">Log In</a>
            <a href="/register">Register</a>
        </div>
    </div>
</div>

    <h1 th:text="${user.username} + '\'s Profile'"></h1>

</body>
</html>