/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Styles */
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 5px;
    background-color: #1877F2;
    display: flex;
    justify-content: space-around;
}

footer p {
    font-size: 0.8em;
    font-family: "Roboto", sans-serif;
    color: #fff;
}