body {
    font-family: "Ruda", sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1877F2;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #1877F2;
}

form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Ruda", sans-serif;
}

.form-actions {
    display: flex;
    justify-content: space-between;
}

input[type="submit"],
input[type="reset"] {
    background-color: #1877F2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Ruda", sans-serif;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #135292;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.user-info {
    margin-right: 10px;
    font-weight: bold;
}

.post-content {
    flex-grow: 1;
}

footer {
    background-color: #1877F2;
    color: #fff;
    text-align: center;
    padding: 20px;
}
