<!DOCTYPE html>
<html>
  <body>
    <link href="/navbar.css" rel="stylesheet"/>
    <div class="topnav">
      <a class="active" href="/posts">Home</a>
      <a href="/users/new">Sign Up</a>
      <a href="/logon">Sign In</a>
    </div>
    <div class="container">
    <link href="/posts.css" rel="stylesheet" type="text/css" />
    <h2 class="posts-heading">Something went wrong!</h2>
    <p>Please check your console for more information.</p>
    <a class="btn btn-lg btn-primary btn-block" href="/users/new">Go Home</a>
  </div>
  </body>
</html>
