<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${event.id}"></title>
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <nav th:insert="fragments/nav :: navbar"></nav>
</head>

<body>

        <div><strong>Title:</strong> <span th:text=" ${event.title}"></span></div>
        <div><strong>Description:</strong><span th:text=" ${event.description}"></span></div>
        <div><strong>Date:</strong> <span th:text=" ${#dates.format(event.scheduledDate, 'yyyy-MM-dd')}"></span></div>
        <div><strong>Time:</strong> <span th:text=" ${event.scheduledStartTime}"></span></div>

        <form action="#" th:action="@{/events/{id}/comments/new(id=${{event.id}})}" th:object="${comment}" method="post">
            <p>Comment: <input type="text" th:field="*{content}" /></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>

        <h5 th:text="${comments.isEmpty}? 'No comments yet' : 'Comments'"></h5>
        <ul>
            <li th:each="comment : ${comments}">
                <p th:text="${comment.user.username}"></p>
                <p th:text="${comment.formattedCreatedAt}"></p>
                <p th:text="${comment.content}"></p>
            </li>
        </ul>

</body>
</html>