<!DOCTYPE html>
<html lang="en">
<head>
    <title>Acebook</title>
    <link rel="stylesheet" href="/css/header-style.css" type="text/css" />
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo=container">
                <a href="/"> <img class="logo" src="/images/acebook_logo.png" alt="acebook logo"></a>
            </div>

            <div class="header-title">
                <p>Acebook</p>
            </div>

            <nav class="nav-links">
                <a href="/posts">posts</a>
                <a href="/users/new" id="sign-up-link">sign up</a>
                <a href="/login" id="login-link">log in</a>
            </nav>
        </div>
    </header>

    <script src="/js/scripts.js"></script>

</body>
</html>
