<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<h1>Welcome, <span th:text="${name}">User</span>!</h1>
<p>You have successfully logged in.</p>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

<ul>
    <li th:each="event : ${events}">
        <a th:href="@{/events/details/{eventId}(eventId=${event.id})}">
            <div><strong>Title:</strong> <span th:text="${event.title}"></span></div>
            <div><strong>Description:</strong> <span th:text="${event.description}"></span></div>
        </a>
    </li>
</ul>

</body>
</html>
