<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>Acebook</title>
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>

    <h1>Acebook</h1>

    <form action="#" th:action="@{/posts/reverse}" method="get">
        <input type="submit" value="Sign In" />
        <input type="submit" value="Sign Up" />
    </form>
    </body>
</html>
