<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
<div th:replace="fragments/nav :: navbar"></div>


<section class="px-[5%] py-16 md:py-24 lg:py-28">
    <h1 class="text-3xl font-bold md:text-7xl lg:text-8xl mb-8">Events</h1>
    <ul>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
            <li th:each="event : ${events}" class="mb-4">
                <div class="text-lg"><strong>Title:</strong> <span th:text="${event.title}"></span></div>
                <div class="text-lg"><strong>Description:</strong> <span th:text="${event.description}"></span></div>
                <div class="text-lg"><strong>Date:</strong> <span th:text="${#dates.format(event.scheduledDate, 'yyyy-MM-dd')}"></span></div>
                <div class="text-lg"><strong>Time:</strong> <span th:text="${event.scheduledStartTime}"></span></div>
            </li>
        </div>
    </ul>
</section>
</body>
</html>
