<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Acebook</title>
    <link rel="stylesheet" href="/main.css"/>
</head>
<body>
    <main>
        <nav>
            <ul>
                <li><a href="/posts">home</a></li>
                <li><a href="/logout">logout</a></li>
                <li th:if="$<{username == null}>"><a href="/login">login</a></li>
                <li><a href="/users/new">signup</a></li>
            </ul>
        </nav>
        <div layout:fragment="content">
        </div>
    </main>
</body>
</html>
