<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
  </head>
  <body>
    <div class="container">
    <!-- login form -->
      <form class="form-signin" th:action="@{/login}" method="post">
        <h2 class="form-signin-heading">Please log in</h2>
          <label for="username" class="sr-only">Username</label>
          <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
          <label for="password" class="sr-only">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
          <button id="login" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>
      <!-- redirect to sign up  -->
      <form class="form-signin" method="get" action="users/new">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      <div id="emailHelp" class="form-text">Please sign up here if you don't have an account.</div>
    </form>
</body>
</html>
</html>
