<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<form th:action="@{/register}" method="post" th:object="${user}">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}">
    </div>
    <div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit">Register</button>
    </div>
    <div th:if="${error}">
        <p th:text="${error}"></p>
    </div>
</form>
</body>
</html>
