<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test Cloudinary</title>
</head>
<body>

<form action="/test" method="post">
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	<input type="hidden" id="imageInfo" name="imageInfo" th:value="${result}" />
	<button type="submit">Submit</button>
</form>

<button id="upload_widget" class="cloudinary-button">Upload files</button>

<script src="https://upload-widget.cloudinary.com/latest/global/all.js" type="text/javascript"></script>

<script type="text/javascript">

	var myWidget = cloudinary.createUploadWidget({
		cloudName: 'dk3vxa56n',
		uploadPreset: 'test_preset'}, (error, result) => {
		if (!error && result && result.event === "success") {
			console.log('Done! Here is the image info: ', result.info);
			document.getElementById("imageInfo").value = JSON.stringify(result.info);
		}
	}
	)

	document.getElementById("upload_widget").addEventListener("click", function(){
		myWidget.open();
	}, false);
</script>
<img th:src="${thumbnail_url}" alt="An uploaded image">
</body>
</html>