<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>Winklevoss</title>
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>
        <div class="title">
            <h1>Wall</h1>
        </div>
        
        <nav> <!-- nav bar - subject to change -->
            <a href="/profile"><p>Profile</p></a>
            <a href="/posts"><p>Posts</p></a>
            <a th:href="'/wall/' + ${id}"><p>My Wall</p></a>
            <a href="/friends"><p>Friends</p></a>
            <a href="/groups"><p>Groups</p></a>
            <a href="/events"><p>Events</p></a>
            <!-- Messages is not on navbar in mock-up, but subject to change (just here for convenience) -->
            <a href="/messages"><p>Messages</p></a>
        </nav>
        
        <div class="container"> <!-- Added container div for positioning body content - can move around -->
            <h2>
            <ul th:each="user: ${users}" th:if="${user.id.toString().equals(#httpServletRequest.requestURI.substring(#httpServletRequest.requestURI.lastIndexOf('/')+1))}">
                <li th:text="${user.username} + '`s wall'" style="font-size:x-large;font-weight: bold;"><!--<p th:each="user: ${users}" th:if="${user.id.equals(1L)}">
                    <p th:value="${user.id} + '`s wall'">
                    </p> -->
                </ul>
            </h2>
            <div class="logout">
                <!-- // Show user ID and username for debugging -->
                <p style="margin-right: 68px;" th:text="'user ID = ' + ${id}"></p>
                <!-- Uncomment to see full session user object -->
                <!-- <p th:text="'current user = ' + ${currentuser}"></p> -->
              </div>
            
            <div class="logout">
                <form action="/logout" method="get">
                    <p><input type="submit" id="Logout" value="Logout" /></p>
                </form>
            </div>

            <ul th:each="post: ${posts}" th:if="${post.user.id.toString().equals(#httpServletRequest.requestURI.substring(#httpServletRequest.requestURI.lastIndexOf('/')+1))}">
                <div class="myPosts">
                    <a th:href="'/wall/' + ${post.user.id}"><li><img src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-social-media-user-vector-image-icon-default-avatar-profile-icon-social-media-user-vector-image-209162840.jpg" alt="placeholder" width="50" height="50"></li>
                    <li><b><span th:text="${post.user.username}"></span></b></li></a>
                    <li th:text="${post.title}" >
                    <li th:text="${post.content}" >
                    <li th:text="'posted at: ' + ${#dates.format(post.time_posted, 'HH:mm:ss')} + ' on: ' + ${#dates.format(post.time_posted, 'dd-MM-yyyy')}" style="font-size:small;"></li>
                    <li th:each="like: ${likes}" th:if="${like.likedpost} == ${post.id}" th:text="${like.username} + ' liked this'"></li>
                    <li><form action="#" th:action="@{/wall/like}" th:object="${post}" method="post">
                        <p><input type="hidden" name="likedpost" th:value="${post.id}"/></p>
                        <p><input type="hidden" name="username" th:value="${#authentication.getPrincipal().getUsername()}"/></p>
                        <p><input type="hidden" name="returnurl" th:value="${#httpServletRequest.requestURI}"/></p>
                        <p><input type="submit" value="Like" /></p>
                    </form>
                </li>
                </div>

            </ul>
    </body>
</html>
