<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/signup.css"/>
    </head>
<div class="popup">
    <div class="popup-image">
      <img src="Huell.png" alt="Login page image">
    </div>
    <form class="signinForm"  action="#"  th:action="@{/signup}" th:object="${user}" method="post">
      <h1 class="title">Sign Up</h1>
      <input type="text" th:field="*{username}" id="email" placeholder="Username" autocomplete="off">
      <input type="password" th:field="*{password}" id="password" placeholder="Password">
      <button class="submit-btn">Sign Up</button>
      <hr>
      <div class="options">
        <div>Already have have a account? <a class="link" href="/login">Sign In</a></div>
        <div>Forgot your password? <a class="link" href="#">Reset</a></div>
      </div>
    </form>
  </d>
</html>